.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.spacer {
  flex: 1 1 auto;
}

.side-bar {
  width: 30vw;
}

.sidenav-content {
  display: flex;
  flex-direction: column;
}

#cy {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 99%;
  height: 99%;
}

.cy-container {
  position: relative;
  flex: 1;
  overflow: auto;
}

.spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-25%, -25%);
  -webkit-transform: translate(-25%, -25%);
  -moz-transform: translate(-25%, -25%);
  -o-transform: translate(-25%, -25%);
  -ms-transform: translate(-25%, -25%);
  z-index: 1005;
}


.resizer {
  height: 100%;
  width: 5px;
  cursor: col-resize;
}

.resizer:hover {
  background-color: #ff4081;
}